.mentor-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.mentor-hero {
  width: 100%;
  height: 1030px;
  display: flex;
  padding: 48px;
  position: relative;
  min-height: 80vh;
  align-items: flex-start;
  padding-right: 48px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
}
.mentor-header {
  width: 110%;
  height: 244px;
  display: flex;
  max-width: 1500%;
  margin-top: -50px;
  align-items: center;
  margin-left: -50px;
  padding-top: 32px;
  padding-left: 0px;
  padding-bottom: 32px;
  background-size: cover;
  justify-content: space-between;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 100.00%,rgba(0, 0, 0, 0.3) 100.00%),linear-gradient(90deg, rgb(192, 36, 37) 0.00%,rgba(240, 203, 53, 0.53) 100.00%),url("/playground_assets/uberbotsimage5-min-1700w.jpeg");
  background-position: center;
}
.mentor-nav {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
}
.mentor-text {
  color: rgb(0, 0, 0);
}
.mentor-text001 {
  color: white;
}
.mentor-text002 {
  color: white;
}
.mentor-btn-group {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.mentor-burger-menu {
  display: none;
}
.mentor-icon {
  width: 16px;
  height: 16px;
}
.mentor-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.mentor-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.mentor-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.mentor-image {
  height: 2rem;
}
.mentor-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mentor-icon02 {
  width: 16px;
  height: 16px;
}
.mentor-icon04 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.mentor-icon06 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.mentor-icon08 {
  width: 16px;
  height: 16px;
}
.mentor-navlink {
  top: 48px;
  right: 48px;
  width: 13%;
  position: absolute;
  align-self: flex-end;
  text-align: center;
  font-family: Georgia;
  border-color: #ff0000;
  border-width: 2px;
  text-decoration: none;
  background-color: yellow;
}
.mentor-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-end;
}
.mentor-text003 {
  top: 0px;
  left: 0px;
  width: 50%;
  height: auto;
  opacity: 0;
  position: absolute;
  text-align: left;
}
.mentor-text005 {
  font-family: Georgia;
  font-weight: 700;
}
.mentor-text006 {
  font-family: Georgia;
  font-weight: 700;
}
.mentor-text008 {
  font-family: Georgia;
}
.mentor-text009 {
  color: var(--dl-color-gray-500);
  font-family: Georgia;
}
.mentor-text010 {
  font-family: Georgia;
}
.mentor-text011 {
  font-family: Georgia;
}
.mentor-text012 {
  color: var(--dl-color-gray-500);
  font-family: Georgia;
}
.mentor-text013 {
  font-family: Georgia;
}
.mentor-text014 {
  font-family: Georgia;
}
.mentor-text015 {
  color: var(--dl-color-gray-500);
  font-family: Georgia;
}
.mentor-text016 {
  font-family: Georgia;
}
.mentor-text017 {
  font-family: Georgia;
}
.mentor-text018 {
  color: var(--dl-color-gray-500);
  font-family: Georgia;
}
.mentor-text019 {
  font-family: Georgia;
}
.mentor-text020 {
  font-family: Georgia;
}
.mentor-text021 {
  color: var(--dl-color-gray-500);
  font-family: Georgia;
}
.mentor-text022 {
  color: var(--dl-color-gray-500);
  font-family: Georgia;
}
.mentor-text024 {
  font-family: Georgia;
  font-weight: 700;
}
.mentor-text025 {
  font-family: Georgia;
  font-weight: 700;
}
.mentor-text026 {
  font-family: Georgia;
}
.mentor-text027 {
  font-family: Georgia;
}
.mentor-text028 {
  font-family: Georgia;
}
.mentor-text029 {
  font-family: Georgia;
}
.mentor-text030 {
  font-family: Georgia;
}
.mentor-text031 {
  font-family: Georgia;
}
.mentor-text032 {
  font-family: Georgia;
}
.mentor-text033 {
  font-family: Georgia;
}
.mentor-text034 {
  font-family: Georgia;
  font-weight: 700;
}
.mentor-text035 {
  font-family: Georgia;
  font-weight: 700;
}
.mentor-text036 {
  font-family: Georgia;
}
.mentor-text037 {
  font-family: Georgia;
}
.mentor-text038 {
  color: var(--dl-color-gray-500);
  font-family: Georgia;
}
.mentor-text039 {
  font-family: Georgia;
}
.mentor-text040 {
  font-family: Georgia;
}
.mentor-text041 {
  font-family: Georgia;
}
.mentor-text042 {
  color: var(--dl-color-gray-500);
  font-family: Georgia;
}
.mentor-text043 {
  font-family: Georgia;
}
.mentor-text044 {
  font-family: Georgia;
}
.mentor-text045 {
  font-family: Georgia;
}
.mentor-text046 {
  color: var(--dl-color-gray-500);
  font-family: Georgia;
}
.mentor-text047 {
  font-family: Georgia;
}
.mentor-text048 {
  font-family: Georgia;
}
.mentor-text049 {
  font-family: Georgia;
}
.mentor-text050 {
  color: var(--dl-color-gray-500);
  font-family: Georgia;
}
.mentor-text051 {
  font-family: Georgia;
}
.mentor-text053 {
  top: 0px;
  left: 0px;
  width: 50%;
  height: auto;
  position: absolute;
  text-align: left;
}
.mentor-text055 {
  font-family: Georgia;
  font-weight: 700;
}
.mentor-text063 {
  font-family: Georgia;
}
.mentor-text064 {
  color: var(--dl-color-gray-500);
  font-family: Georgia;
}
.mentor-text066 {
  font-family: Georgia;
}
.mentor-text067 {
  color: var(--dl-color-gray-500);
  font-family: Georgia;
}
.mentor-text069 {
  font-family: Georgia;
}
.mentor-text070 {
  color: var(--dl-color-gray-500);
  font-family: Georgia;
}
.mentor-text072 {
  font-family: Georgia;
}
.mentor-text073 {
  color: var(--dl-color-gray-500);
  font-family: Georgia;
}
.mentor-text075 {
  font-family: Georgia;
}
.mentor-text076 {
  font-family: Georgia;
}
.mentor-text078 {
  font-family: Georgia;
}
.mentor-text079 {
  color: var(--dl-color-gray-500);
  font-family: Georgia;
}
.mentor-text082 {
  font-family: Georgia;
  font-weight: 700;
}
.mentor-text085 {
  font-family: Georgia;
}
.mentor-text087 {
  font-family: Georgia;
}
.mentor-text089 {
  font-family: Georgia;
}
.mentor-text092 {
  font-family: Georgia;
  font-weight: 700;
}
.mentor-text095 {
  font-family: Georgia;
}
.mentor-text096 {
  color: var(--dl-color-gray-500);
  font-family: Georgia;
}
.mentor-text099 {
  font-family: Georgia;
}
.mentor-text100 {
  color: var(--dl-color-gray-500);
  font-family: Georgia;
}
.mentor-text103 {
  font-family: Georgia;
}
.mentor-text104 {
  color: var(--dl-color-gray-500);
  font-family: Georgia;
}
.mentor-text107 {
  font-family: Georgia;
}
.mentor-text108 {
  color: var(--dl-color-gray-500);
  font-family: Georgia;
}
.mentor-text111 {
  font-family: Georgia;
}
.mentor-text112 {
  font-family: Georgia;
}
.mentor-text113 {
  color: var(--dl-color-gray-500);
  font-family: Georgia;
}
.mentor-div {
  top: 35%;
  left: 55%;
  width: 40%;
  height: 60%;
  margin: auto;
  position: absolute;
}
@media(max-width: 1200px) {
  .mentor-text003 {
    width: 100%;
  }
  .mentor-text053 {
    width: 100%;
  }
  .mentor-text055 {
    font-family: Georgia;
    font-weight: 700;
  }
  .mentor-text056 {
    font-family: Georgia;
    font-weight: 700;
  }
  .mentor-text059 {
    color: #000000;
    font-family: Georgia;
  }
  .mentor-text061 {
    color: var(--dl-color-gray-500);
    font-family: Georgia;
  }
  .mentor-text063 {
    font-family: Georgia;
  }
  .mentor-text064 {
    color: var(--dl-color-gray-500);
    font-family: Georgia;
  }
  .mentor-text065 {
    font-family: Georgia;
  }
  .mentor-text066 {
    font-family: Georgia;
  }
  .mentor-text067 {
    color: var(--dl-color-gray-500);
    font-family: Georgia;
  }
  .mentor-text068 {
    font-family: Georgia;
  }
  .mentor-text069 {
    font-family: Georgia;
  }
  .mentor-text070 {
    color: var(--dl-color-gray-500);
    font-family: Georgia;
  }
  .mentor-text071 {
    font-family: Georgia;
  }
  .mentor-text072 {
    font-family: Georgia;
  }
  .mentor-text073 {
    color: var(--dl-color-gray-500);
    font-family: Georgia;
  }
  .mentor-text074 {
    font-family: Georgia;
  }
  .mentor-text075 {
    font-family: Georgia;
  }
  .mentor-text076 {
    color: var(--dl-color-gray-500);
    font-family: Georgia;
  }
  .mentor-text077 {
    font-family: Georgia;
  }
  .mentor-text078 {
    font-family: Georgia;
  }
  .mentor-text079 {
    color: var(--dl-color-gray-500);
    font-family: Georgia;
  }
  .mentor-text080 {
    color: var(--dl-color-gray-500);
    font-family: Georgia;
  }
  .mentor-text082 {
    font-family: Georgia;
    font-weight: 700;
  }
  .mentor-text083 {
    font-family: Georgia;
    font-weight: 700;
  }
  .mentor-text084 {
    font-family: Georgia;
  }
  .mentor-text085 {
    font-family: Georgia;
  }
  .mentor-text086 {
    font-family: Georgia;
  }
  .mentor-text087 {
    font-family: Georgia;
  }
  .mentor-text088 {
    font-family: Georgia;
  }
  .mentor-text089 {
    font-family: Georgia;
  }
  .mentor-text090 {
    font-family: Georgia;
  }
  .mentor-text091 {
    font-family: Georgia;
  }
  .mentor-text092 {
    font-family: Georgia;
    font-weight: 700;
  }
  .mentor-text093 {
    font-family: Georgia;
    font-weight: 700;
  }
  .mentor-text094 {
    font-family: Georgia;
  }
  .mentor-text095 {
    font-family: Georgia;
  }
  .mentor-text096 {
    color: var(--dl-color-gray-500);
    font-family: Georgia;
  }
  .mentor-text097 {
    font-family: Georgia;
  }
  .mentor-text098 {
    font-family: Georgia;
  }
  .mentor-text099 {
    font-family: Georgia;
  }
  .mentor-text100 {
    color: var(--dl-color-gray-500);
    font-family: Georgia;
  }
  .mentor-text101 {
    font-family: Georgia;
  }
  .mentor-text102 {
    font-family: Georgia;
  }
  .mentor-text103 {
    font-family: Georgia;
  }
  .mentor-text104 {
    color: var(--dl-color-gray-500);
    font-family: Georgia;
  }
  .mentor-text105 {
    font-family: Georgia;
  }
  .mentor-text106 {
    font-family: Georgia;
  }
  .mentor-text107 {
    font-family: Georgia;
  }
  .mentor-text108 {
    color: var(--dl-color-gray-500);
    font-family: Georgia;
  }
  .mentor-text109 {
    font-family: Georgia;
  }
  .mentor-text110 {
    font-family: Georgia;
  }
  .mentor-text111 {
    font-family: Georgia;
  }
  .mentor-text112 {
    font-family: Georgia;
  }
  .mentor-text113 {
    color: var(--dl-color-gray-500);
    font-family: Georgia;
  }
  .mentor-div {
    top: 130%;
    left: 0px;
    right: 0px;
    width: 100%;
    bottom: 42px;
    margin: auto;
  }
}
@media(max-width: 991px) {
  .mentor-div {
    top: 140%;
  }
}
@media(max-width: 767px) {
  .mentor-hero {
    padding-left: 32px;
    padding-right: 32px;
  }
  .mentor-header {
    padding-left: 32px;
    padding-right: 32px;
  }
  .mentor-nav {
    display: none;
  }
  .mentor-btn-group {
    display: none;
  }
  .mentor-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mentor-navlink {
    width: 95px;
  }
  .mentor-text003 {
    width: 100%;
  }
  .mentor-text053 {
    width: 100%;
  }
  .mentor-div {
    top: 145%;
    left: 0px;
    right: 0px;
    width: 100%;
    margin: auto;
  }
}
@media(max-width: 479px) {
  .mentor-hero {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .mentor-header {
    height: 20%;
    padding: var(--dl-space-space-unit);
    margin-left: -10px;
  }
  .mentor-text {
    color: rgb(0, 0, 0);
    font-size: 28px;
  }
  .mentor-text001 {
    color: white;
  }
  .mentor-mobile-menu {
    padding: 16px;
  }
  .mentor-navlink {
    width: 84px;
    text-align: center;
    padding-right: 14px;
  }
  .mentor-div {
    top: 140%;
    left: -15px;
    width: 470px;
    margin: 0px;
  }
}
